[submodule "submodules/vim-arpeggio"]
	path = submodules/vim-arpeggio
	url = git://github.com/kana/vim-arpeggio.git
[submodule "submodules/vim-ragtag"]
	path = submodules/vim-ragtag
	url = git://github.com/tpope/vim-ragtag
[submodule "submodules/vim-pathogen"]
	path = submodules/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "submodules/pathogen-bundles/vim-rails"]
	path = submodules/pathogen-bundles/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "submodules/zsh-git"]
	path = submodules/zsh-git
	url = git://github.com/jhujhiti/zsh-git
	pushurl = git@github.com:jhujhiti/zsh-git
[submodule "submodules/pathogen-bundles/salt-vim"]
	path = submodules/pathogen-bundles/salt-vim
	url = git://github.com/saltstack/salt-vim
[submodule "vim-puppet"]
	path = submodules/pathogen-bundles/vim-puppet
	url = git://github.com/rodjek/vim-puppet
[submodule "submodules/pathogen-bundles/vim-bling"]
	path = submodules/pathogen-bundles/vim-bling
	url = git://github.com/ivyl/vim-bling
[submodule "submodules/pathogen-bundles/base16-vim"]
	path = submodules/pathogen-bundles/base16-vim
	url = git://github.com/chriskempson/base16-vim
[submodule "submodules/pathogen-bundles/vim-jinja"]
	path = submodules/pathogen-bundles/vim-jinja
	url = git://github.com/mitsuhiko/vim-jinja.git
[submodule "submodules/pathogen-bundles/ShowMotion"]
	path = submodules/pathogen-bundles/ShowMotion
	url = git://github.com/boucherm/ShowMotion
[submodule "submodules/pathogen-bundles/vim-easy-align"]
	path = submodules/pathogen-bundles/vim-easy-align
	url = git://github.com/junegunn/vim-easy-align
[submodule "submodules/pathogen-bundles/visual-split"]
	path = submodules/pathogen-bundles/visual-split
	url = https://github.com/wellle/visual-split.vim
[submodule "submodules/pathogen-bundles/vim-pandoc"]
	path = submodules/pathogen-bundles/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc
[submodule "submodules/pathogen-bundles/vim-pandoc-syntax"]
	path = submodules/pathogen-bundles/vim-pandoc-syntax
	url = https://github.com/vim-pandoc/vim-pandoc-syntax
