[submodule "submodules/vim-fugitive"]
	path = submodules/vim-fugitive
	url = git://github.com/jhujhiti/vim-fugitive.git
[submodule "submodules/gitv"]
	path = submodules/gitv
	url = git://github.com/jhujhiti/gitv.git
[submodule "submodules/vim-arpeggio"]
	path = submodules/vim-arpeggio
	url = git://github.com/kana/vim-arpeggio.git
[submodule "submodules/vim-ragtag"]
	path = submodules/vim-ragtag
	url = git://github.com/tpope/vim-ragtag
[submodule "submodules/vim-pathogen"]
	path = submodules/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
