# git isn't ready for this...
# /home/jhujhiti/.ssh/config: line 1: Bad configuration option: include
#Include config_local

Host *
        # CVE-2016-0777
        UseRoaming no
        # disable this extremely bad idea which debian enables
        HashKnownHosts no

Host *.adjectivism.org
        User jhujhiti
        ForwardAgent yes
